<!DOCTYPE html>
<html>
  <head>
    <title>VIDEOMania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <app_header>
      <nav>
      <%= link_to(root_path) do %>
        <%= image_tag 'VIDEOMANIA_logo.png', class: 'Videomania_logo' %>
      <% end %>
        <% if user_signed_in? %> 
        <p class="navbar-text navbar-right">Logged in as <strong><%= current_user.email %></strong></p>
          <%= link_to 'Home', posts_path %> |
          <%= link_to 'My Page', user_path(current_user) %> |
          <%= link_to 'New Post', new_post_path %> |
        <p class="navbar-text navbar-right"><%= link_to "ログアウト", sign_out_path, id: "logout" %> |</p>
        <% else %>
          <%= link_to "サインイン", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </nav>

    </app_header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    <footer>
    </footer>
    </div>
  </body>
</html>
